/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
    


} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
} 
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) {
    .header__top {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }




    .header__navigation{
        display: none;
    }

  

    .header__phone {
        align-items: center;
        
    }
    .header__logo{
        margin: auto;
    }
    // .header__navigation ul{
    //     flex-direction: column;
    //     align-items: center;
    // }
    
    // .header__navigation li:not(:last-child) {
    //     margin-right: 0;
    //     margin-bottom: 15px;
    // }
    

    .header__hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__p1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
    }

    .header__social {
        visibility: hidden;
    }

    
    
    .header__girl {
        visibility: hidden;
    }

    
   .benefit-text {
    display: none;
   }

    

    .container-about {
        display: flex;
        flex-direction: column;
        
    }
    
    
    .text-about {
        margin-left: 10px;
    }

//     .about-us {
// //        margin-left: 15px;
//     }

    .video {
        max-width: 100%;
    }

    .text-about{
        max-width: 100%;
    }

    html, body { 
        height: 100%;
        width: 100%;
        margin-right: 0px;
    }
    
    .container{
        max-width: 100%;
        margin: 0;
        /*padding: 0 15px;*/
    }
    
    .main .container .popular-services {
        padding: 0 0 100px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    
    .price-menu ul{
        flex-direction: column;
        align-items: flex-start;
        
    }
    
    .price-menu li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .services {
        max-width: 100%;
        display: flex;
        flex-direction: column;
       // flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 48px;
       // margin-left: 15px;
    }



    // .price-services {
    //     margin-left: 15px;
    // }
    
    .price-services-unit {
        
        width: 100%px;
        
    }

    


    
    .master-group {
        flex-wrap: wrap;
    
        margin-left: 30px;
    }

    .master-exp{
        padding-bottom: 20px;
    }

    // .master-card {
    //     align-items: center;
    // }



    

    

    .works {
        margin-left: 40px;
    }



    
    .brends-image-block {
        flex-wrap: wrap;
    }
    .brends-image {
        max-width: 160px;
        margin-bottom: 10px;
    }

    .main .contacts .container {
        flex-wrap: wrap;
        
    }

    .link {
        margin-bottom: 10px;
        margin-left: 60px;
        align-items: center;
    }
    
    .note {
        max-width: 100%;
    }


    .footer-navigation ul {
        flex-direction: column;
    }
    
    .footer-navigation li:not(:last-child) {
        margin-bottom: 10px;
    
    }
    
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}
